<% for(var i = 0;i < Math.min(4,summary.length);i++){%>
<div class="activitybody">
  <div class="act_user" id="act_photo_and_name">
     <div class="act_user" id="act_user_photo">
     <img src="/assets/i/act_img/activity_touicang_logo.fw.png" >
      </div>
     <div class="act_user" id="act_user_name"> 
     <p> <%- summary[i].Writer %></p>
      </div>
  </div>

  <div class="activity_poster">  
      <img src=<%- summary[i].LitPic %>>
  </div>

  <div class="ativitytitle">
     <p  class="ativitytitle" id="ativitytitle"> 超现实体验</p>
  </div>
<div class="act_detail_info">
 <div id="activity_info_time">
      <div class="activity_info_time">
        <img src="/assets/i/icon/activity_time_logo.fw.png" name="activity_time_logo">
      </div>
      <div class="activity_info_time">
        <p><%- summary[i].PubDate %></p>
      </div>
</div>
<div id="activity_info_location">
      <div class="activity_info_location">
        <img src="/assets/i/icon/activity_location_logo.fw.png" name="activity_location_logo">
     </div>
      <div class="activity_info_location">
          <p> <%- summary[i].NickName %></p>
      </div>
</div>
<div id="activity_info_operation">
      <div class="activity_info_operation">
      <img src="/assets/i/icon/activity_zan_logo.fw.png" name="activity_operation_logo">
      </div>  
      <div class="activity_info_operation"> <p><%- summary[i].SortRank %></p></div>
      <div  class="activity_info_operation"  id="activity_info_operation_looked">
        <div class="activity_info_operation"> 
      <img src="/assets/i/icon/activity_looked_logo.fw.png" name="activity_operation_logo">
      </div>
      <div class="activity_info_operation">  <p> 1024</p></div>
      </div>
      
    </div>
</div>
</div>
<% } %>
